<br>
<div class="container">
    <br>
    <h1>User Profile </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{avatar}}" style="width: 60%" alt="#">
        </div>
        <div class="col">
            <h3>Información:</h3>
            <ul>
                <li> <strong>Username:</strong> {{username}} </li>
                <br>
                <li><strong>Email:</strong> {{email}}</li>
                <br>
                <li><strong>city:</strong> {{address.city}}</li>
                <br>
                <li><strong>zipcode:</strong> {{address.zipcode}}</li>
                <br>
                <li><strong>Interests:</strong> {{interests}}</li>
                <br>
                <li><strong>Role:</strong> {{role}}</li>
            </ul>
        </div>
        <hr>
        <div class="col-md-4">
            <h3>Eventos Guardados</h3>
            <hr>
            <p>Próximamente aparecerán los eventos guardados</p>
        </div>
    </div>
    <div class="btn">
        <a href="/" class="btn btn-primary mt-3 mb-5">Home</a>
    </div>
    <div class="btn">
        <a href="/event/:_id/edit" class="btn btn-warning mt-3 mb-5">Edit</a>
    </div>
    <div class="btn">
        <a href="/event/:_id/delete" class="btn btn-danger mt-3 mb-5">Delete</a>
    </div>
</div>