<div class="container mt-5">
    <br>
    <h1>{{title}} </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{eventImg}}" style="width: 100%" alt="#">
        </div>
        <div class="col">
            <h3>Info:</h3>
            <ul>
                <br>
                <li><strong>Category:</strong> {{category}}</li>
                <br>
                <li><strong>Description:</strong> {{description}}</li>
                <br>
                <li><strong>Start:</strong> {{start}}</li>
                <br>
                <li><strong>End:</strong> {{end}}</li>
                <br>
                <li><strong>City:</strong> {{location.type}}</li>
                <br>
                <li><strong>Assistants:</strong>
                    <br>
                    <img src="/images/Stacked.png" style="width: 20%" alt="">
                </li>
                <br>
                <button class="btn btn-primary">Save Event ❤️</button>
            </ul>
        </div>
        <hr>
        <br>
        <div class=" col">
            <h3>Map:</h3>
            <br>
            <figure id="map"></figure>
        </div>
    </div>
    <hr>
    <div class="btns">
        <div class="btn">
            <a href="/" class="btn btn-primary mt-3 mb-5">Home</a>
        </div>
        <div class="btn">
            <a href="/event/{{_id}}/edit" class="btn btn-warning mt-3 mb-5">Edit</a>
        </div>
        <form action="/event/{{_id}}/delete" method="POST" style="display: inline">
            <input type="submit" value="Delete" class="btn btn-danger mt-3 mb-5">
        </form>
    </div>
<<<<<<< HEAD
=======
    <a href="/event/{{_id}}/edit" class="btn btn-sm btn-info">editar</a>

    <form action="/event/{{_id}}/delete" method="POST" style="display: inline">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
    </form>

>>>>>>> 4246e107623ab0a026cf6d76a424068944851c1b
</div>