<div class="container mt-5">
    <br>
    <h1>Event List</h1>
    <hr>
    <div class="row">
        {{#each event}}
        <div class="col-md-4">
            <h3>{{title}}</h3>
            <p>{{start}}--- {{end}}</p>

            <article class="cards">
                {{eventImg}}
            </article>
            <p><b>{{title}}</b></p>
            <p>{{location}}</p>
        </div>
        {{/each}}
    </div>
    <br>
    <div class="btn">
        <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    </div>
    <br>
</div>
<br>