{{!-- REVISAR ESTE APARTADO PARA CUANDO INSERTEMOS LA API PODER NOMBRAR BIEN CADA PARTE --}}

<br>
<div class="container">
    <br>
    <h1>Event List</h1>
    <hr>
    <div class="row">
        {{#each event}}
        <div class="col-md-4">
<<<<<<< HEAD
            <h3>{{title}}</h3>
            <p>{{start}}--- {{end}}</p>

=======
            <article class="cards">
                <img src="INSERTAR IMAGEN">
            </article>
            <p><b>{{title}}</b></p>
            <p>{{location}}</p>
>>>>>>> 2b38ad2d4a5eecf7dfb0710673bd24cabb676f6b
        </div>
        {{/each}}
    </div>
    <br>
    <div class="btn">
        <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    </div>
    <br>
</div>
<br>