<div class="container mt-5">
    <br>
    <h1>{{title}} </h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{eventImg}}" style="width: 60%" alt="#">
        </div>
        <div class="col">
            <h3>Info:</h3>
            <ul>
                <br>
                <li><strong>Category:</strong> {{category}}</li>
                <br>
                <li><strong>Description:</strong> {{description}}</li>
                <br>
                <li><strong>Start:</strong> {{start}}</li>
                <br>
                <li><strong>End:</strong> {{end}}</li>
                <br>
                <li><strong>City:</strong> {{event.location.city}}</li>
                <br>
                <button class="btn btn-primary">Save Event ❤️</button>
            </ul>
        </div>
        <hr>
        <div class=" col">
            <h3>Mapa</h3>
            <hr>
            <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/02/google-maps-2961754.jpg?tf=3840x"
                alt="#" style="width: 50%;">
        </div>
        <br>
        <hr>
        <div class="col">
            <h3>Assistants</h3>
            <ul>
                <li>
                    {{assistants}}

                </li>
            </ul>

        </div>
    </div>
    <div class="btn">
        <a href="/" class="btn btn-primary mt-3 mb-5">Home</a>
    </div>
    <a href="/event/{{_id}}/edit" class="btn btn-sm btn-info">editar</a>

    <form action="/event/{{_id}}/delete" method="POST" style="display: inline">
        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
    </form>

</div>