<div class="container list mt-5">
    <br>
    <hr>
    <div class="row text-center" style='margin: 20px; margin-bottom: 10px'>
        <h1>Our Events</h1>
        <hr>
        {{#each newInternal}}
        <div class="col-md-4">
            <h3><a class="text-decoration-none text-black" href="/internalEvent/{{_id}}">{{title}}</a></h3>
            <article class="cards">
                <img src="{{eventImg}}" style="width: 50%" alt="#">
            </article>
            <p>Start: {{start}}</p>
            <p>End: {{end}}</p>
            <div class="btn">
                <a href="/internalEvent/{{_id}}" class="btn btn-success">More Information</a>
            </div>
        </div>
        {{/each}}
    </div>

    <div class='row text-center' style='margin: 20px; margin-bottom: 10px'>
        <hr>
        <h1>Comunity events</h1>
        <hr>
        {{#each externalEvents}}
        <div class="col-md-4">
            <h3><a class="text-decoration-none text-black" href="/externalEvent/{{id}}">{{title}}</a></h3>
            <article class="cards">
                <img src="https://dancingastronaut.com/wp-content/uploads/2021/07/Ivan-Meneses-for-Insomniac-Events-11.jpg"
                    style="width: 50%" alt="#">
            </article>
            <p>Start: {{start}}</p>
            <p>End: {{end}}</p>
            <div class="btn">
                <a href="/externalEvent/{{id}}" class="btn btn-success">More Information</a>
            </div>
            <hr>
        </div>
        {{/each}}
    </div>
    <div class="btn">
        <a href="" class="btn btn-primary">HOME</a>
    </div>
</div>