<div class="container list mt-5">
    <br>
    <h1>Event List</h1>
    <hr>
    <div class="row">
        <h2>Our Events</h2>
        <hr>
        <br>
        {{#each internalEvents}}
        <div class="col ms-5" style="margin: 10px">
            <h4><a class="text-decoration-none text-black" href="/internalEvent/{{_id}}">{{title}}</a></h4>
            <article class="cards">
                <img src="{{eventImg}}" style="width: 65%" alt="">
            </article>
            <br>
            <p>Start: {{start}}</p>
            <p>End: {{end}}</p>
            <div class="btn">
                <a href="/internalEvent/{{_id}}" class="btn btn-primary">More Information</a>
            </div>
        </div>
        {{/each}}
    </div>
    <br>
    <div class="row" style="margin: 50px">
        <h2>Comunity Events</h2>
        <hr>
        {{#each externalEvents}}
        <div class="col-4" style="margin-top: 20px;">
            <h4><a class="text-decoration-none text-black" href="/externalEvent/{{id}}">{{title}}</a></h4>
            <p>{{title}}</p>
            <p>Start: {{start}}</p>
            <p>End: {{end}}</p>
            <div class="btn">
                <a href="/externalEvent/{{id}}" class="btn btn-primary">More Information</a>
            </div>
            <br>
        </div>
        {{/each}}
    </div>
    <div class="btn">
        <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    </div>
    <br>
</div>
<br>